@import '../../styles/utils/breakpoints';
@import '../../styles/utils/colors';

.searchResults {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: $pool-day;
  }

  &__title {
    text-align: center;
    font-size: 45px;
  }

  &__innerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__carouselContainer {
    height: 100%;
  }

  &__gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    grid-auto-rows: minmax(20px, auto);
    row-gap: 1em;
    column-gap: 1em;
    justify-content: center; 
    align-content: center;

    @media only screen and(max-width: $tablet) {
      grid-template-columns: repeat(3, 180px);
    }

    @media only screen and(max-width: $mobile) {
      grid-template-columns: repeat(1, 280px);
    }
  }
}