@import '../../styles/utils/breakpoints';

.searchResults {
  // border: 2px solid red;
  // width: 100%;
  // height: 100%;
  padding: 15px;
  
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    text-align: center;
    font-size: 45px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 190px);
    grid-auto-rows: minmax(20px, auto);
    row-gap: 1em;
    column-gap: 1em;
    justify-content: center; 
    align-content: center;

    @media only screen and(max-width: $tablet) {
      grid-template-columns: repeat(3, 180px);
    }

    @media only screen and(max-width: $mobile) {
      grid-template-columns: repeat(1, 280px);
    }
  }
}