@import '../../styles/utils/breakpoints';
@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';

.searchResults {
  &__header {
    @media only screen and (max-width: $mobile) {
      margin-top: 50px;
    }
  }

  &__title {
    font-size: 35px;
    color: $pool-day;

    @media only screen and (max-width: $tablet) {
      text-align: center;
    }

    @media only screen and(max-width: $mobile) {
      font-size: 30px;
    }
  }

  &__carousel {
    height: 100%;
  }

  &__movieTitle, &__movieYear {
    color: $pool-day;
  } 

  &__btnWrapper {
    @include alignHorizontally()
  }

}