@import './utils/mixins';
@import './utils/breakpoints';
@import './utils/colors';

body{
  margin: 25px;
  background-color: $the-white-wall-looks-dirty;
}

#mainWrapper {
  max-width: $desktop;
  margin: 0 auto;
}

.App {
    @media only screen and (max-width: $mobile) {
      position: relative;
    }

    &__title {
      font-size: 45px;
      text-align: center;
      color: $pool-day;
      @media only screen and (max-width: $mobile) {
        font-size: 40px;
        font-weight: 600;
        margin: 0px 15px 0px 15px
      }
    }

    &__upbtn {
      display:none;
      position:fixed;
      right:10px;
      bottom:10px;
      cursor:pointer;
      width:50px;
      height:50px;
      background-color: $batman-blue;
      text-indent:-9999px;
      -webkit-border-radius:60px;
      -moz-border-radius:60px;
      border-radius:60px;
      @media only screen and (max-width: $mobile) {
        display: block;
      }
    }

  &__faAngleUp:hover {
    top: -15px;
  }

  &__faAngleUp {
      font-size: 3.5rem;
      width: 4rem;
      height: 4rem;
      text-align: center;
      position: absolute;
      top: -.2rem;
      right: .7rem;
      transition: all ease-in-out 250ms;
      color: $the-white-wall-looks-dirty;
  }

  &__iconLoader {
    margin: 100px auto;
    @include areaOf(65px);
    @include spinAnimation(1s);
  }

}