@import './utils/breakpoints';

body{
  background-color: aliceblue;
}

#mainWrapper {
  max-width: $desktop;
  margin: 40px auto 80px auto;
}

.App {
  &__title {
    font-size: 45px;
    text-align: center;
    @media only screen and (max-width: $mobile) {
      font-size: 40px;
      font-weight: 600;
      margin: 0px 15px 0px 15px
    }
  }
}