.nominations {
  text-align: center;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 22px;
    margin-left: 10px;
  }

  &__picksWrapper {
    // border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  &__pick {
    margin-left: 200px;
  }

  &__btnColor {
    color: red;
  }
}