@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';

.nominations {
  height: 100%;

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 22px;
    margin-left: 10px;
  }

  &__icon {
    color: $a-beautiful-blue-sky;
  }

  &__carouselContainer {
    height: 100%;
  } 

  &__image {
    @include areaOf(340px);
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}