@mixin spinAnimation($duration) {
  animation: spin $duration linear infinite;
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

@mixin repeatHW($size) {
  height: $size;
  width: $size;
}

@mixin alignHorizontally() {
  display: flex;
  justify-content: center;
}

@mixin alignCenter() {
  display: flex; 
  justify-content: center;
  align-items: center;
}