@import '../../styles/utils/breakpoints';
@import '../../styles/utils/colors';
@import '../../styles/utils/mixins';

.searchBar {
  height: 150px;
  @include alignCenter();
  
  @media only screen and (max-width: $tablet) {
    margin-top: 25px;
  }

  &__form {
    width: 500px;
    @include alignCenter();
    
    @media only screen and (max-width: $tablet) {
      display: block;
    }
  }
  
  &__input {
    width: 100%;
    padding-top: 10px;
    
    @media only screen and (max-width: $tablet) {
      display: block;
    }
  }
  
  &__icon {
    color: $pool-day;
    margin-right: 10px;
    
    @media only screen and (max-width: $tablet) {
      margin: auto 45%;
      display: block;
      margin-right: 0;
    }
  }
}